In [27]:
#Importing relevant libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')

In [28]:
data = pd.read_csv('KPMG_newCustomerList.csv')

In [29]:
data.head()

,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,...,state,country,property_valuation,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Rank,Value
0,Chickie,Brister,Male,86,7/12/1957,General Manager,Manufacturing,Mass Customer,N,Yes,...,QLD,Australia,6,0.78,0.975,1.21875,1.035937,1,1,1.718750
1,Morly,Genery,Male,69,3/22/1970,Structural Engineer,Property,Mass Customer,N,No,...,NSW,Australia,11,0.78,0.780,0.97500,0.828750,1,1,1.718750
2,Ardelis,Forrester,Female,10,8/28/1974,Senior Cost Accountant,Financial Services,Affluent Customer,N,No,...,VIC,Australia,5,0.65,0.650,0.65000,0.650000,1,1,1.718750
3,Lucine,Stutt,Female,64,1/28/1979,Account Representative III,Manufacturing,Affluent Customer,N,Yes,...,QLD,Australia,1,0.40,0.500,0.50000,0.500000,4,4,1.703125
4,Melinda,Hadlee,Female,34,9/21/1965,Financial Analyst,Financial Services,Affluent Customer,N,No,...,NSW,Australia,9,1.02,1.020,1.27500,1.275000,4,4,1.703125

In [30]:
data.columns

Index(['first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'owns_car', 'tenure', 'address', 'postcode', 'state', 'country',
       'property_valuation', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Rank', 'Value'],
      dtype='object')

In [31]:
data.shape

(1000, 23)

In [32]:
# To display all rows or columns
#pd.set_option("display.max_row",None)

In [33]:
data.isnull().sum()

first_name                               0
last_name                               29
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                     17
job_title                              106
job_industry_category                  165
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
country                                  0
property_valuation                       0
Unnamed: 16                              0
Unnamed: 17                              0
Unnamed: 18                              0
Unnamed: 19                              0
Unnamed: 20                              0
Rank                                     0
Value                                    0
dtype: int64

In [34]:
data.dtypes

first_name                              object
last_name                               object
gender                                  object
past_3_years_bike_related_purchases      int64
DOB                                     object
job_title                               object
job_industry_category                   object
wealth_segment                          object
deceased_indicator                      object
owns_car                                object
tenure                                   int64
address                                 object
postcode                                 int64
state                                   object
country                                 object
property_valuation                       int64
Unnamed: 16                            float64
Unnamed: 17                            float64
Unnamed: 18                            float64
Unnamed: 19                            float64
Unnamed: 20                              int64
Rank                                     int64
Value                                  float64
dtype: object

In [35]:
#Dropping the unnamed columns since we can't get meaningful insights from it
data = data.drop([ 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20'], axis =1)

In [36]:
data.columns

Index(['first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'owns_car', 'tenure', 'address', 'postcode', 'state', 'country',
       'property_valuation', 'Rank', 'Value'],
      dtype='object')

In [37]:
# Renaming the columns using dictionaries. Capitalizing the first letters
data= data.rename(columns ={'first_name':'First_Name', 'last_name':'Last_Name', 'gender':'Gender',
       'past_3_years_bike_related_purchases': 'Past_3_Years_Bike_Related_Purchase', 'DOB':'Date_of_Birth', 'job_title': 'Job_Title',
       'job_industry_category':'Job_Industry_Category', 'wealth_segment':'Wealth_Segment', 'deceased_indicator':'Deceased_Indicator',
       'default':'Default', 'owns_car':'Owns_Car', 'tenure':'Tenure', 'address':'Address', 'postcode':'Postcode', 'state':'State', 'country':'Country',
       'property_valuation':'Property_Valuation', 'Rank':'Rank', 'Value':'Value'})

In [38]:
data.columns

Index(['First_Name', 'Last_Name', 'Gender',
       'Past_3_Years_Bike_Related_Purchase', 'Date_of_Birth', 'Job_Title',
       'Job_Industry_Category', 'Wealth_Segment', 'Deceased_Indicator',
       'Owns_Car', 'Tenure', 'Address', 'Postcode', 'State', 'Country',
       'Property_Valuation', 'Rank', 'Value'],
      dtype='object')

In [39]:
data.shape

(1000, 18)

In [40]:
data.dtypes

First_Name                             object
Last_Name                              object
Gender                                 object
Past_3_Years_Bike_Related_Purchase      int64
Date_of_Birth                          object
Job_Title                              object
Job_Industry_Category                  object
Wealth_Segment                         object
Deceased_Indicator                     object
Owns_Car                               object
Tenure                                  int64
Address                                object
Postcode                                int64
State                                  object
Country                                object
Property_Valuation                      int64
Rank                                    int64
Value                                 float64
dtype: object

In [41]:
# change the date of birth from object to datetime
data['Date_of_Birth'] =pd.to_datetime(data['Date_of_Birth'])

In [45]:
data.isnull().sum()

First_Name                              0
Last_Name                              29
Gender                                  0
Past_3_Years_Bike_Related_Purchase      0
Date_of_Birth                          17
Job_Title                             106
Job_Industry_Category                 165
Wealth_Segment                          0
Deceased_Indicator                      0
Owns_Car                                0
Tenure                                  0
Address                                 0
Postcode                                0
State                                   0
Country                                 0
Property_Valuation                      0
Rank                                    0
Value                                   0
dtype: int64

In [49]:
data = data.dropna()

In [50]:
data.isnull().sum()

First_Name                            0
Last_Name                             0
Gender                                0
Past_3_Years_Bike_Related_Purchase    0
Date_of_Birth                         0
Job_Title                             0
Job_Industry_Category                 0
Wealth_Segment                        0
Deceased_Indicator                    0
Owns_Car                              0
Tenure                                0
Address                               0
Postcode                              0
State                                 0
Country                               0
Property_Valuation                    0
Rank                                  0
Value                                 0
dtype: int64

In [63]:
#Checking for duplicate is subcolumns
data.duplicated(subset =['First_Name','Last_Name','Gender']).sum()

0