In [121]:
#Importing relevant libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('ggplot')
#pd.set_option("max_columns",200)

In [122]:
data = pd.read_csv('KPMG_CustomerDemographic.csv')

In [123]:
# checking the number of rows and columns in the dataset
data.shape

(4000, 13)

In [124]:
#To view the first(.head) and last(.tail) inputs. you can also specify the number of entry to view
data.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,10/12/1953,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,12/16/1980,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1/20/1954,Recruiting Manager,Property,Mass Customer,N,1-Feb,Yes,15.0
3,4,Talbot,NaN,Male,33,10/3/1961,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,5/13/1977,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [125]:
# To display all rows or columns
#pd.set_option("display.max_row",None)

In [126]:
#To view all the columns
data.columns

Index(['customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'default', 'owns_car', 'tenure'],
      dtype='object')

In [127]:
# Renaming the columns using dictionaries. Capitalizing the first letters
data= data.rename(columns ={'customer_id': 'Customer_ID',  'first_name':'First_Name', 'last_name':'Last_Name', 'gender':'Gender',
       'past_3_years_bike_related_purchases': 'Past_3_Years_Bike_Related_Purchase', 'DOB':'Date_of_Birth', 'job_title': 'Job_Title',
       'job_industry_category':'Job_Industry_Category', 'wealth_segment':'Wealth_Segment', 'deceased_indicator':'Deceased_Indicator',
       'default':'Default', 'owns_car':'Owns_Car', 'tenure':'Tenure'})

In [128]:
data.isnull().sum()

Customer_ID                             0
First_Name                              0
Last_Name                             125
Gender                                  0
Past_3_Years_Bike_Related_Purchase      0
Date_of_Birth                          87
Job_Title                             506
Job_Industry_Category                 656
Wealth_Segment                          0
Deceased_Indicator                      0
Default                               302
Owns_Car                                0
Tenure                                 87
dtype: int64

In [101]:
#Understanding the data type of each column
data.dtypes

Customer_ID                             int64
First_Name                             object
Last_Name                              object
Gender                                 object
Past_3_Years_Bike_Related_Purchase      int64
Date_of_Birth                          object
Job_Title                              object
Job_Industry_Category                  object
Wealth_Segment                         object
Deceased_Indicator                     object
Default                                object
Owns_Car                               object
Tenure                                float64
dtype: object

In [102]:
# change the date of birth from object to datetime
data['Date_of_Birth'] =pd.to_datetime(data['Date_of_Birth'])
data['Date_of_Birth']

0      1953-10-12
1      1980-12-16
2      1954-01-20
3      1961-10-03
4      1977-05-13
          ...
3995   1975-08-09
3996   2001-07-13
3997          NaT
3998   1973-10-24
3999   1991-11-05
Name: Date_of_Birth, Length: 4000, dtype: datetime64[ns]

In [108]:
#Set the null values to np.nana using loc
data.loc[data['Date_of_Birth'].isnull(), 'Date_of_Birth'] = np.nan

In [109]:
#Drop date of birth rows with null values using loc
data = data.loc[~data['Date_of_Birth'].isnull()]

In [110]:
#Checking the unique values in Gender column
data['Gender'].unique()

array(['F', 'Male', 'Female', 'U', 'Femal', 'M'], dtype=object)

In [111]:
#Replace the M, F, Femal and U
data['Gender'] = data['Gender'].replace({'M':'Male', 'F':'Female', 'U':'NaN', 'Femal':'Female'})

In [112]:
#Dropping null values
data = data.dropna()

In [113]:
data.columns

Index(['Customer_ID', 'First_Name', 'Last_Name', 'Gender',
       'Past_3_Years_Bike_Related_Purchase', 'Date_of_Birth', 'Job_Title',
       'Job_Industry_Category', 'Wealth_Segment', 'Deceased_Indicator',
       'Default', 'Owns_Car', 'Tenure'],
      dtype='object')

In [114]:
#Dropping a column 'Default'
data = data.drop('Default',axis=1)

In [115]:
#reset the index
data = data.reset_index()

In [119]:
data.dtypes

index                                          int64
Customer_ID                                    int64
First_Name                                    object
Last_Name                                     object
Gender                                        object
Past_3_Years_Bike_Related_Purchase             int64
Date_of_Birth                         datetime64[ns]
Job_Title                                     object
Job_Industry_Category                         object
Wealth_Segment                                object
Deceased_Indicator                            object
Owns_Car                                      object
Tenure                                       float64
dtype: object